* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(77, 77, 246);
    color: #fff;
    border-bottom: 1px solid gray;
}

.header_left h2 {
    font-size: 1.9rem;
    cursor: pointer;
}

.header_right {
    display: flex;
    align-items: center;
}

.nav {
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 900;
}

.nav a {
    color: #fff;
}

.hero {
    background-color: red;
    height: 90vh;
}

.hero_content {
    width: 525px;
    margin: auto;
}
